body > details {
    margin-top: 1em;
}

details {
    font-style: italic;
    font-size: 20px;
}

/* SUMMARY */

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: "+  ";
    font-style: normal;
}

details[open] > summary::before {
    content: "-  ";
    font-style: normal;
}

/* CONTENTS */

/* for layered details elements' grouping */
.inner-details {
    padding-left: 1.5em;
    margin-top: 0.5em;
}

details > ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0.5em;
}

details > p {
    font-size: 16px;
    margin: 0;
    margin-left: 1.5em;
}
    
@media screen and (orientation:portrait) {
    details > p {
        font-size: 18px;
        margin: 0;
        margin-left: 1.5em;
    }
}

details .straight {
    font-style: normal;
}
