a {
    color: black;
}

@media (prefers-color-scheme: dark) {
    a {
      color: #dddddd;
    }
}

a.external {
    /* text-decoration: 2px underline #825A42; */
    text-decoration-color: #825A42;
    text-decoration-thickness: 2px;
}

a.internal {
    /* text-decoration: 2px underline #Ef658B; */
    text-decoration-color: #Ef658B;
    text-decoration-thickness: 2px;
}

a:hover {
    /* text-decoration: 2px underline #B78531; */
    text-decoration-color: #B78531;
}

.bottom-nav {
    position: absolute;
    padding-top: 3em;
    padding-bottom: 1em;
}