a {
    color: black;
}

a.external {
    text-decoration-color: #825A42;
    text-decoration-thickness: 2px;
}

a.internal {
    text-decoration-color: #Ef658B;
    text-decoration-thickness: 2px;
}

a:hover {
    text-decoration-color: #B78531;
}

@media (prefers-color-scheme: dark) {
    a {
      color: #dddddd;
    }

    a.external {
        text-decoration-color: #B78531;
        text-decoration-thickness: 2px;
    }

    a:hover {
        text-decoration-color: #FFF1B5;
    }
}

.bottom-nav {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
}